<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/res/favicon.ico}">
    <title>admin-发布、编辑博客</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"> -->
    <link rel="stylesheet" href="../../static/css/semantic.min.css" th:href="@{/res/css/semantic.min.css}">
    <link rel="stylesheet" href="../../static/dist/components/icon.min.css" th:href="@{/res/dist/components/icon.min.css}">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/res/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" href="../../static/css/index.css" th:href="@{/res/css/index.css}">
</head>
<body>
    <!-- 导航 -->
    <div th:include="/admin/commonend :: nav(1)"></div>

    <!-- 主体内容 -->
    <div class="m-content-most-big " style="padding-bottom: 5em !important;">
        <div class="ui container">
            <!-- 编写博客 -->
            <form id="blogEditForm" class="ui form" method="post" action="" th:action="@{/admin/blogs/do_edit/{bid}(bid=${blog.bid})}" enctype="multipart/form-data">
                <input type="hidden" name="isPublish" value="">
                <div class="required field">
                    <div class="ui right labeled input">
                        <!-- 标题提交 -->
                        <input type="hidden" name="uid" value="" th:value="${session.loginUser.uid}">
                        <input type="text" placeholder="标题" name="title" value="" th:value="${blog.title}">
                        <!-- 转载、翻译或原创提交 -->
                        <div class="ui dropdown orange label">
                            <input type="hidden" name="crTipId" value="1" th:value="${blog.crTipId}">
                            <div class="text">原创</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="${cr.crTipId}" th:each="cr:${copyright}" th:text="${cr.crTip}" th:data-value="${cr.crTipId}">原创</div>
                            </div>
                        </div>
                      </div>
                </div>
                <!-- 博客内容提交 -->
                <div class="required field">
                    <div id="m-editormd" style="z-index: 1 !important;">
                        <textarea placeholder="内容" name="content" style="display: none;">[[${blog.content}]]</textarea>
                    </div>
                </div>
                <!-- 博客首图提交 -->
                <div class="field">
                    <div class="ui left labeled input">
                        <label class="ui black label">封面</label>
                        <input type="file" name="firstPictureFile">
                    </div>
                </div>
                <!-- 博客类别提交、功能个性化提交 -->
                <div class="inline fields">
                    <div class="field">
                        <div class="ui left labeled input">
                            <label for="" class="ui black label">分类</label>
                            <div class="ui dropdown large input label">
                                <input type="hidden" name="cid" value="1" th:value="${blog.cid}">
                                <div class="text">Java</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="0" th:each="cg:${categories}" th:text="${cg.name}" th:data-value="${cg.cid}">Java</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="isAppreciate" name="isAppreciate" value="true" th:checked="${blog.isAppreciate == true ? 'true' : 'false'}">
                            <label for="isAppreciate">赞赏功能</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="isComment" name="isComment" value="true" th:checked="${blog.isComment == true ? 'true' : 'false'}">
                            <label for="isComment">留言功能</label>
                        </div>
                    </div>
                    <!--   TODO : 转载声明，需改变实体类、数据表-->
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="isRecommend" name="isRecommend">
                            <label for="isRecommend">转载声明</label>
                        </div>
                    </div>
                </div>
                <!--  表单验证提示框 -->
                <div class="ui error message"></div>
                <!-- 操作按钮 -->
                <div class="ui container right aligned">
                    <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                    <button type="button" class="ui blue button" id="blog-draft-btn">保存草稿</button>
                    <button type="button" class="ui positive button" id="blog-publish-btn">发布</button>
                </div>
            </form>
        </div>
    </div>

    <!-- 底部 -->
    <div th:include="/admin/commonend :: copyright"></div>

    <!-- ---------------- js --------------------------------------------------------------------------------------- -->
    <script src="../../static/js/jquery.min.js" th:src="@{/res/js/jquery.min.js}"></script>
    <!-- <script src="js/flexible.js"></script> -->
    <script src="../../static/js/semantic.min.js" th:src="@{/res/js/semantic.min.js}"></script>
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/res/lib/editormd/editormd.min.js}"></script>
    <script src="../../static/js/end.js" th:src="@{/res/js/end.js}"></script>

    <script type="text/javascript">

        var contentEditor;
        $(function() {

             /*--------初始化markdown编辑器---------*/  
             contentEditor = editormd("m-editormd", {
                 width: '100%',
                 height: 700,
                 emoji: true,
                 syncScrolling: "single",
                 // 此路径为editor编辑器需要的lib目录，直接使用相对路径，如果配置了资源访问路径，则需加上
                 path: "/res/lib/editormd/lib/",
                 //  原目录: path: "../../static/lib/editormd/lib/"
                 // TODO 编辑文章时的图片处理
                 imageUpload: true,
                 imageFormats: ["jpg", "jpeg", "png"],
                 imageUploadURL: "{{ url_for('main.upload') }}",
                 onload: function () {
                     console.log("上传成功")
                 },
                 // editorTheme: "pastel-on-dark",
                 // previewTheme: "dark"
             })

            /*------------移动端导航栏显示------------*/
            $("#m-show-nav").on("click", function() {
                $(".m-item").toggle("fast",function(){
                    $(".m-item").removeClass("m-mobile-hide");
                });
            })
            
            /*-----------退出下拉菜单-------------*/
            $('.ui.dropdown').dropdown();
            
            /*--------表单验证-----------*/
            $('.ui.form').form({
                fields: {
                    title : {
                        identifier: 'title',
                        rules: [{
                            type: 'empty',
                            prompt: '标题 : 不能为空'
                        }]
                    },
                    content : {
                        identifier: 'content',
                        rules: [{
                            type: 'empty',
                            prompt: '内容 : 不能发布 / 保存空白内容'
                        }]
                    }
                }
            });


        })
    </script>
    
</body>
</html>