<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台公共样式</title>
</head>
<body>

    <div th:fragment="nav(n)">
        <!-- 导航 -->
        <nav class="ui inverted attached segment m-navpd">
            <div class="ui container">
                <div class="ui inverted secondary menu stackable">
                    <a href="index.html" th:href="@{/admin/index}"><h2 class="ui teal header m-title">Blog后台管理</h2></a>
                    <a href="#" class="item m-item m-mobile-hide" th:href="@{/admin/blogs/page/1}" th:classappend="${n==1} ? 'active'">博客管理</a>
                    <a href="javascript:;" th:href="@{/admin/category/1}" class="item m-item m-mobile-hide" th:classappend="${n==2} ? 'active'">分类管理</a>
                    <a href="#" class="item m-item m-mobile-hide" th:classappend="${n==3} ? 'active'">归档管理</a>
                    <div class="right menu">
                        <div class="ui dropdown item">
                            <div class="text">
                                <img class="ui avatar image" src="../../static/images/del_user_avatar2.jpg" th:src="@{/res/images/del_user_avatar2.jpg}">
<!--                                Jenny Hess-->
                                <span th:text="${session.loginUser.nickname}"></span>
                                <i class="icon dropdown"></i>
                            </div>
                            <div class="menu">
                                <a class="item" style="color: black;" href="javascript:;">
                                    <i class="icon edit outline"></i> 修改信息
                                </a>
                                <a class="item" style="color: black;" href="javascript:void(0)" th:href="@{/admin/loginOut}">
                                    <i class="icon blind"></i> 安全退出
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <a id="m-show-nav" href="javascript:;" class="ui inverted icon button m-top-right m-mobile-show">
                <i class="sidebar icon"></i>
            </a>
        </nav>
    </div>

    <div th:fragment="copyright">
        <!-- 版权 -->
        <footer class="ui inverted vertical segment m-footer">
            <div class="ui center aligned container">
                <div class="ui inverted divided grid mobile reversed stackable">
                    <div class="three wide column">
                        <div class="ui inverted list">
                            <div class="item">
                                <img class="ui rounded image" src="../../static/images/wechat.png" th:src="@{/res/images/wechat.png}" alt="联系我" style="width: 80px !important; height: 80px !important;">
                            </div>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">联系我</h4>
                        <p class="copyright">Gitee : germcell</p>
                        <p class="copyright right aligned">WeChat : z_Cricket</p>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">网站声明</h4>
                        <p class="copyright">SpringBoot入门学习,涉及Spring、SpringMVC、MyBatis、thymeleaf</p>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">开发日志</h4>
                        <p class="copyright">1.xxxxxxxx</p>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <p class="copyright">Copyright &copy; 2022</p>
                <p class="copyright">https://gitee.com/germcell/blog.git</p>
            </div>
        </footer>
    </div>

</body>
</html>