<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"> -->
    <link rel="stylesheet" href="../../static/css/semantic.min.css" th:href="@{/res/css/semantic.min.css}">
    <link rel="stylesheet" href="../../static/dist/components/icon.min.css" th:href="@{/res/dist/components/icon.min.css}">
    <link rel="stylesheet" href="../../static/css/index.css" th:href="@{/res/css/index.css}">
    <style>
        .m-index-padding {
            padding: 5em 20em 23em 20em !important;
        }
    </style>
</head>
<body>
    <!-- 导航 -->
    <div th:include="/admin/commonend :: nav(0)"></div>

    <!-- 主体内容 -->
    <div class="m-content m-index-padding">
        <div class="ui container">
            <div class="ui success message">
                <h3>Hi, <span th:text="${session.loginUser.nickname}">jack</span></h3>
                <p>欢迎回来，上次访问时间
                    <span th:text="${#dates.format(session.loginUser.updateTime, 'yyy-MM-dd HH:mm:ss') }" style="color: black"> 2022-2-21 21:09 </span>
                </p>
            </div>
        </div>
    </div>  

    <!-- 底部 -->
    <div th:include="/admin/commonend :: copyright"></div>


    <!-- ---------------- js ------------------------- -->
    <script src="../../static/js/jquery.min.js" th:src="@{/res/js/jquery.min.js}"></script>
    <!-- <script src="js/flexible.js"></script> -->
    <script src="../../static/js/semantic.min.js" th:src="@{/res/js/semantic.min.js}"></script>

    <script type="text/javascript">
        $(function() {

            /*------------移动端导航栏显示------------*/
            $("#m-show-nav").on("click", function() {
                $(".m-item").toggle("fast",function(){
                    $(".m-item").removeClass("m-mobile-hide");
                });
            })
            
            /*-----------退出下拉菜单-------------*/
            $('.ui.dropdown').dropdown();
            

        })
    </script>
    
</body>
</html>