<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/res/favicon.ico}">
    <title>文章分类 - Z社区</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"> -->
    <link rel="stylesheet" href="../static/css/semantic.min.css" th:href="@{/res/css/semantic.min.css}">
    <link rel="stylesheet" href="../static/dist/components/icon.min.css" th:href="@{/res/dist/components/icon.min.css}">
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/res/css/index.css}">
</head>
<body>
    <!-- 导航 -->
    <div th:include="common :: nav(2)"></div>
    <!-- 主体内容 -->
    <div class="m-content m-padding-big" style="padding-bottom: 5em !important;">
        <div class="ui container">
            <!-- 分类数量 -->
            <div class="ui top red attached segment">
                <div class="ui two column grid">
                    <div class="column">
                        <h3 class="ui red header">类别</h3>
                    </div>
                    <div class="column right aligned">
                        共 <span class="blogCount" th:text="${listCategories.size() != 0 ? listCategories.size() : 0}">14</span> 个
                    </div>
                </div>
            </div>
            <!-- 分类列表 -->
            <div class="ui attached segment" th:if="${listCategories.size() != 0}">
                <a class="ui image large label m-margin-rm m-categoryContent" data-categorycid="" th:data-categorycid="${category.cid}" th:each="category:${listCategories}" th:href="@{/blog/category/1/{cid}(cid=${category.cid})}">
                    <img src="../static/images/category/java.jpg" th:src="${category.picture}" style="width: 30.312px !important; height: 30.312px !important;">
                    <span th:text="${category.name}">java</span>
                    <div class="detail">文章: <span  th:text="${category.blogCounts}">23</span> </div>
                </a>
                <!--/*-->
                <a class="ui image large label m-margin-rm">
                    <img src="../static/images/category/java.jpg" th:src="@{/res/images/category/java.jpg}">
                    <span>java</span>
                    <div class="detail">原创: <span>23</span> </div>
                </a>
                <a class="ui image large label m-margin-rm">
                    <img src="../static/images/category/java.jpg" th:src="@{/res/images/category/java.jpg}">
                    <span>java</span>
                    <div class="detail">原创: <span>23</span> </div>
                </a>
                <a class="ui image large label m-margin-rm">
                    <img src="../static/images/category/java.jpg" th:src="@{/res/images/category/java.jpg}">
                    <span>MyBatis</span>
                    <div class="detail">原创: <span>23</span> </div>
                </a>
                <a class="ui image large label m-margin-rm">
                    <img src="../static/images/category/java.jpg" th:src="@{/res/images/category/java.jpg}">
                    <span>java</span>
                    <div class="detail">原创: <span>23</span> </div>
                </a>
                <!--*/-->
            </div>
            <!-- 分类下对应的博客内容(有内容时) -->
            <div class="ui purple segments" th:if="${pageInfo.getList().size() != 0}">
                <div class="ui attached segment m-padding-small" th:if="${pageInfo.total != 0}" th:each="blog:${pageInfo.list}">
                    <div id="blogContent" class="ui mobile reversed stackable grid" data-blogcid="" th:data-blogcid="${blog.cid}">
                        <div class="ten wide column" style="padding-right: 0 !important;">
                            <a href="javascript:;" target="_blank" th:href="@{/blog/view/{bid}(bid=${blog.bid})}">
                                <h3 class="ui header" th:text="${blog.title}">你真正的理解财富自由吗?</h3>
                            </a>
                            <p class="m-blogtext m-overflow-blog" th:text="${blog.blogOutline.outline}">冬奥会赛程过半，多项纪录诞生。精彩瞬间，见证了运动员的非凡表现，展现了竞技体育的巨大魅力。金牌荣耀，来自赛场上的fsdfsdfsdafasdfsadfsadfsafasdfffffffffffffffffffffff...</p>
                            <!-- 自定义flex布局 -->
                            <div class="ui mini m-infobox">
                                <div class="m-info">
                                    <div class="m-avatar">
                                        <a href="#" target="_blank">
                                            <img src="https://picsum.photos/id/1012/100/100" class="ui avatar image" alt="" th:src="${blog.user.avatar}">
                                            <span th:text="${blog.user.nickname}"> Marry </span>
                                        </a>
                                    </div>
                                    <div class="m-calendar">
                                        <i class="calendar icon"></i> <span th:text="${#dates.format(blog.writeTime, 'yyyy-MM-dd HH:mm')}">2022.2.18 12:23</span>
                                    </div>
                                    <div class="m-eye">
                                        <!-- TODO 点赞功能 -->
                                        <i class="thumbs up icon"></i> <span>2321</span>
                                        <!--<i class="thumbs up outline icon"></i> <span>232</span>-->
                                    </div>
                                    <div class="m-eye">
                                        <i class="eye icon"></i> <span th:text="${blog.views}">232</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="one wide column" style="width: 10px !important;"></div>
                        <div class="five wide column">
                            <a href="javascript:;" target="_blank" th:href="@{/blog/view/{bid}(bid=${blog.bid})}">
                                <img src="../static/images/blogPicture/del_blog_img2.jpg" class="ui image rounded m-blog-img-size" alt="丢失" th:unless="${blog.firstPicture eq null || blog.firstPicture == ''}" th:src="${blog.firstPicture}">
                                <img src="../static/images/blogPicture/del_blog_img2.jpg" class="ui image rounded m-blog-img-size" alt="丢失" th:unless="${blog.firstPicture != null || blog.firstPicture eq ''}" th:src="@{/res/images/blogPicture/del_blog_img2.jpg}">
                            </a>
                        </div>
                    </div>
                </div>
                <!--/*-->
                <div class="ui attached segment m-padding-small" th:if="${pageInfo.total != 0}" th:each="blog:${pageInfo.list}">
                    <div class="ui mobile reversed stackable grid">
                        <div class="ten wide column" style="padding-right: 0 !important;">
                            <a href="javascript:;" target="_blank" th:href="@{/blog/view/{bid}(bid=${blog.bid})}">
                                <h3 class="ui header" th:text="${blog.title}">你真正的理解财富自由吗?</h3>
                            </a>
                            <p class="m-blogtext m-overflow-blog" th:text="${blog.blogOutline.outline}">冬奥会赛程过半，多项纪录诞生。精彩瞬间，见证了运动员的非凡表现，展现了竞技体育的巨大魅力。金牌荣耀，来自赛场上的fsdfsdfsdafasdfsadfsadfsafasdfffffffffffffffffffffff...</p>
                            <!-- 自定义flex布局 -->
                            <div class="ui mini m-infobox">
                                <div class="m-info">
                                    <div class="m-avatar">
                                        <a href="#" target="_blank">
                                            <img src="https://picsum.photos/id/1012/100/100" class="ui avatar image" alt="" th:src="${blog.user.avatar}">
                                            <span th:text="${blog.user.nickname}"> Marry </span>
                                        </a>
                                    </div>
                                    <div class="m-calendar">
                                        <i class="calendar icon"></i> <span th:text="${#dates.format(blog.writeTime, 'yyyy-MM-dd HH:mm')}">2022.2.18 12:23</span>
                                    </div>
                                    <div class="m-eye">
                                        <!-- TODO 点赞功能 -->
                                        <i class="thumbs up icon"></i> <span>2321</span>
                                        <!--<i class="thumbs up outline icon"></i> <span>232</span>-->
                                    </div>
                                    <div class="m-eye">
                                        <i class="eye icon"></i> <span th:text="${blog.views}">232</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="one wide column" style="width: 10px !important;"></div>
                        <div class="five wide column">
                            <a href="javascript:;" target="_blank" th:href="@{/blog/view/{bid}(bid=${blog.bid})}">
                                <img src="../static/images/blogPicture/del_blog_img2.jpg" class="ui image rounded m-blog-img-size" alt="丢失" th:unless="${blog.firstPicture eq null || blog.firstPicture == ''}" th:src="${blog.firstPicture}">
                                <img src="../static/images/blogPicture/del_blog_img2.jpg" class="ui image rounded m-blog-img-size" alt="丢失" th:unless="${blog.firstPicture != null || blog.firstPicture eq ''}" th:src="@{/res/images/blogPicture/del_blog_img2.jpg}">
                            </a>
                        </div>
                    </div>
                </div>
                <!--*/-->
                <!-- TODO 当页数过多时，需设置规则显示（项目的所有分页操作都应改） -->
                <div class="ui segment">
                    <ul class="m-pagination-ul">
                        <li><a href="#" class="ui secondary button" th:if="${pageInfo.isHasPreviousPage()}" th:href="@{/blog/category/{currentPage}/{cid}(currentPage=${pageInfo.prePage},cid=${pageInfo.getList().get(0).getCid()})}">pre</a></li>
                        <li><a href="javascript:void(0);" class="ui button" th:text="${n}" th:each="n:${#numbers.sequence(1, pageInfo.getPages())}" th:classappend="${n == pageInfo.getPageNum()} ? 'vk'" th:href="@{/blog/category/{currentPage}/{cid}(currentPage=${n},cid=${pageInfo.getList().get(0).getCid()})}">1</a></li>
                        <!--/*-->
                        <li><a href="#" class="ui vk button">2</a></li>
                        <li><a href="#" class="ui button">3</a></li>
                        <li><a href="#" class="ui button">4</a></li>
                        <li><a href="#" class="ui button">5</a></li>
                        <!--*/-->
                        <li><a href="#" class="ui secondary button" th:if="${pageInfo.isHasNextPage()}"th:href="@{/blog/category/{currentPage}/{cid}(currentPage=${pageInfo.nextPage},cid=${pageInfo.getList().get(0).getCid()})}">next</a></li>
                    </ul>
                </div>
            </div>
            <!-- 分类下对应的博客内容(无内容时) -->
            <div class="ui purple segments" th:if="${pageInfo.getList().size() == 0}">
                <div id="blogContent" class="ui attached segment m-padding-small header" data-blogcid="" th:data-blogcid="${}">
                    当前分类下还没有文章哦...
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <div th:include="common :: copyright"></div>
    <!--  关于我  -->
    <div th:include="common :: aboutme"></div>
<!-- ---------------- js ---------------------------------------------------------------------------------- -->
    <script src="../static/js/jquery.min.js" th:src="@{/res/js/jquery.min.js}"></script>
    <!-- <script src="js/flexible.js"></script> -->
    <script src="../static/js/semantic.min.js" th:src="@{/res/js/semantic.min.js}"></script>
    <script src="../static/js/front.js" th:src="@{/res/js/front.js}"></script>

    <script type="text/javascript">
        $(function () {
            categoryActive();
            /* 为当前被选中分类添加样式 */
            function categoryActive() {
                // var categoryCid = $('#categoryContent').data('categorycid');

                // TODO 当分类下无内容时，获取不到博客分类id，导致不能添加选中样式

                var blogCid = $('#blogContent').data('blogcid');
                console.log(blogCid)
                $('.m-categoryContent').each(function (i, ele) {
                    if ($(ele).data('categorycid') == blogCid) {
                        $(ele).addClass('blue');
                    }
                });
            }
        })
    </script>

</body>
</html>