<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/res/favicon.ico}">
    <title>类别</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"> -->
    <link rel="stylesheet" href="../static/css/semantic.min.css" th:href="@{/res/css/semantic.min.css}">
    <link rel="stylesheet" href="../static/dist/components/icon.min.css" th:href="@{/res/dist/components/icon.min.css}">
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/res/css/index.css}">
</head>
<body>
    <!-- 导航 -->
    <div th:include="common :: nav(2)"></div>

    <!-- 主体内容 -->
    <div class="m-content m-padding-big" style="padding-bottom: 5em !important;">
        <div class="ui container">
            <!-- header -->
            <div class="ui top red attached segment">
                <div class="ui two column grid">
                    <div class="column">
                        <h3 class="ui red header">类别</h3>
                    </div>
                    <div class="column right aligned">
                        共 <span class="blogCount">14</span> 个
                    </div>
                </div>
            </div>
            <!-- 类别列表 -->
            <div class="ui attached segment">
                <a class="ui image large label m-margin-rm red">
                    <img src="../static/images/category/java.jpg" th:src="@{/res/images/category/java.jpg}">
                    <span>java</span>
                    <div class="detail">原创: <span>23</span> </div>
                </a>
                <a class="ui image large label m-margin-rm">
                    <img src="../static/images/category/java.jpg" th:src="@{/res/images/category/java.jpg}">
                    <span>java</span>
                    <div class="detail">原创: <span>23</span> </div>
                </a>
                <a class="ui image large label m-margin-rm">
                    <img src="../static/images/category/java.jpg" th:src="@{/res/images/category/java.jpg}">
                    <span>java</span>
                    <div class="detail">原创: <span>23</span> </div>
                </a>
                <a class="ui image large label m-margin-rm">
                    <img src="../static/images/category/java.jpg" th:src="@{/res/images/category/java.jpg}">
                    <span>MyBatis</span>
                    <div class="detail">原创: <span>23</span> </div>
                </a>
                <a class="ui image large label m-margin-rm">
                    <img src="../static/images/category/java.jpg" th:src="@{/res/images/category/java.jpg}">
                    <span>java</span>
                    <div class="detail">原创: <span>23</span> </div>
                </a>
                <a class="ui image large label m-margin-rm">
                    <img src="../static/images/category/java.jpg" th:src="@{/res/images/category/java.jpg}">
                    <span>java</span>
                    <div class="detail">原创: <span>23</span> </div>
                </a>
                <a class="ui image large label m-margin-rm">
                    <img src="../static/images/category/java.jpg" th:src="@{/res/images/category/java.jpg}">
                    <span>java</span>
                    <div class="detail">原创: <span>23</span> </div>
                </a>
                <a class="ui image large label m-margin-rm">
                    <img src="../static/images/category/java.jpg" th:src="@{/res/images/category/java.jpg}">
                    <span>java</span>
                    <div class="detail">原创: <span>23</span> </div>
                </a>
            </div>

            <!-- body 类别对应的博客内容 -->
            <div class="ui purple segments">
                <div class="ui segment">
                    <div class="ui mobile reversed stackable grid">
                        <div class="twelve wide column">
                            <a href="#" target="_blank">
                                <h3 class="ui header">你真正的理解财富自由吗?</h3>
                            </a>
                                <p class="m-blogtext">冬奥会赛程过半，多项纪录诞生。精彩瞬间，见证了运动员的非凡表现，展现了竞技体育的巨大魅力。金牌荣耀，来自赛场上的...</p>
                            <!-- 自定义flex布局 -->
                            <div class="ui mini m-infobox">
                                <div class="m-info">
                                    <div class="m-avatar">
                                        <a href="#" target="_blank">
                                            <img src="https://picsum.photos/id/1012/100/100" class="ui avatar image" alt="">
                                            <span> Marry </span>
                                        </a>
                                    </div>
                                    <div class="m-calendar">
                                        <i class="calendar icon"></i> <span>2022.2.18</span>
                                    </div>
                                    <div class="m-eye">
                                        <i class="eye icon"></i> <span>232</span>
                                    </div>
                                </div>      
                            </div>
    
                        </div>
                        <div class="four wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1/5616/3744" class="ui image rounded" alt="blogimg">
                            </a>
                        </div>     
                    </div>
                </div>

                <div class="ui segment">
                    <div class="ui mobile reversed stackable grid">
                        <div class="twelve wide column">
                            <a href="#" target="_blank">
                                <h3 class="ui header">你真正的理解财富自由吗?</h3>
                            </a>
                                <p class="m-blogtext">冬奥会赛程过半，多项纪录诞生。精彩瞬间，见证了运动员的非凡表现，展现了竞技体育的巨大魅力。金牌荣耀，来自赛场上的...</p>
                            <!-- 自定义flex布局 -->
                            <div class="ui mini m-infobox">
                                <div class="m-info">
                                    <div class="m-avatar">
                                        <a href="#" target="_blank">
                                            <img src="https://picsum.photos/id/1012/100/100" class="ui avatar image" alt="">
                                            <span> Marry </span>
                                        </a>
                                    </div>
                                    <div class="m-calendar">
                                        <i class="calendar icon"></i> <span>2022.2.18</span>
                                    </div>
                                    <div class="m-eye">
                                        <i class="eye icon"></i> <span>232</span>
                                    </div>
                                </div>      
                            </div>
    
                        </div>
                        <div class="four wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1/5616/3744" class="ui image rounded" alt="blogimg">
                            </a>
                        </div>     
                    </div>
                </div>
                
                <div class="ui segment">
                    <div class="ui mobile reversed stackable grid">
                        <div class="twelve wide column">
                            <a href="#" target="_blank">
                                <h3 class="ui header">你真正的理解财富自由吗?</h3>
                            </a>
                                <p class="m-blogtext">冬奥会赛程过半，多项纪录诞生。精彩瞬间，见证了运动员的非凡表现，展现了竞技体育的巨大魅力。金牌荣耀，来自赛场上的...</p>
                            <!-- 自定义flex布局 -->
                            <div class="ui mini m-infobox">
                                <div class="m-info">
                                    <div class="m-avatar">
                                        <a href="#" target="_blank">
                                            <img src="https://picsum.photos/id/1012/100/100" class="ui avatar image" alt="">
                                            <span> Marry </span>
                                        </a>
                                    </div>
                                    <div class="m-calendar">
                                        <i class="calendar icon"></i> <span>2022.2.18</span>
                                    </div>
                                    <div class="m-eye">
                                        <i class="eye icon"></i> <span>232</span>
                                    </div>
                                </div>      
                            </div>
    
                        </div>
                        <div class="four wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1/5616/3744" class="ui image rounded" alt="blogimg">
                            </a>
                        </div>     
                    </div>
                </div>

                <!-- 分页 -->
                <div class="ui segment">
                        <ul class="m-pagination-ul">
                            <li><a href="#" class="ui secondary button">pre</a></li>
                            <li><a href="#" class="ui vk button">1</a></li>
                            <li><a href="#" class="ui button">2</a></li>
                            <li><a href="#" class="ui button">3</a></li>
                            <li><a href="#" class="ui button">4</a></li>
                            <li><a href="#" class="ui button">5</a></li>
                            <li><a href="#" class="ui secondary button">next</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部 -->
    <div th:include="common :: copyright"></div>

    <!--  关于我  -->
    <div th:include="common :: aboutme"></div>


<!-- ---------------- js ---------------------------------------------------------------------------------- -->
    <script src="../static/js/jquery.min.js" th:src="@{/res/js/jquery.min.js}"></script>
    <!-- <script src="js/flexible.js"></script> -->
    <script src="../static/js/semantic.min.js" th:src="@{/res/js/semantic.min.js}"></script>

    <script type="text/javascript">
        $(function() {
            /*------------移动端显示导航栏------------- */
            $("#m-show-nav").on("click", function() {
                $(".m-item").toggle("fast",function(){
                    $(".m-item").removeClass("m-mobile-hide");
                });
            })

              /*------------关于我模态框------------*/
              $("#about-me").on("click", function() {
                $('.ui.modal').modal('show');
            })
 
            /*-----------QQ------------*/
            $(".m-qq").on("click", function() {
                // $(".m-qq-qr").fadeIn("slow")
                $(".m-qq-qr").toggle("slow", function() {
                    $(".m-qq-qr").removeClass(".m-qq-qr")
                })
            })
            
            /*-----------WECHAT------------*/
            $(".m-wechat").on("click", function() {
                // $(".m-qq-qr").fadeIn("slow")
                $(".m-wechat-qr").toggle("slow", function() {
                    $(".m-wechat-qr").removeClass(".m-wechat-qr")
                })
            })
            
            /*-----------GITHUB------------*/
            $(".m-github").on("click", function() {
                // $(".m-qq-qr").fadeIn("slow")
                $(".m-github-qr").toggle("slow", function() {
                    $(".m-github-qr").removeClass(".m-github-qr")
                })
            })
            

        })
    </script>
    
</body>
</html>